.social {
    list-style: none;
    margin: 0;
    padding: 0;
    clear: both;
    padding-left: 15px;
    display: inline-block;
  }

.social li {
    display: inline-block;
    width: 41px;
    height: 41px;
    text-indent: -9999px; 
    cursor: pointer;
    margin: 18px 10px 20px 0px;
  }

.facebook {
    width: 41px; height: 41px;
    background: url('../image/social_sprites.png') -10px -10px;
}

.twiter {
    width: 41px; height: 41px;
    background: url('../image/social_sprites.png') -71px -10px;
}

.p{
    width: 41px; height: 41px;
    background: url('../image/social_sprites.png') -10px -71px;
}

.instagram {
    width: 41px; height: 41px;
    background: url('../image/social_sprites.png') -71px -71px;
}

.youtube {
    width: 41px; height: 41px;
    background: url('../image/social_sprites.png') -132px -10px;
}

.share {
    margin: 15px 0 0 15px;
    cursor: none;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 16px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.right {
    float: right;
    margin-top: 13px;
    margin-right: 15px;
}

