@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #f6f6f6;
  font-family: "Open Sans", sans-serif;
  color: #2c303d;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}

.container {
  width: 835px;
  max-width: 835px;
  min-width: 360px;
}

.wrapper {
  margin-top: 30px;
  margin-left: 50px;
  height: 100%;
  width: 100%;
}

.product__img {
  background-image: url(../image/product_index.jpg);
  width: 326px;
  height: 405px;
  display: block;
  float: left;
}

.product__info {
  margin-left: 57.57px;
  float: left;
}

.product__info-title {
  font-family: "Open Sans", sans-serif;
  font-family: Oswald;
  color: #2c303d;
  font-size: 24.02px;
  font-weight: 700;
  line-height: 5.808px;
  text-align: left;
  transform: matrix(1, -0.0012, 0, 1, 0, 0);
  display: block;
}

.product__info-id {
  color: #7d7f85;
  font-size: 10px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 32.5px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
  margin-top: 20px;
  margin-bottom: 25px;
  display: block;
}

.product__info-price {
  font-size: 24px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 7.356px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}

.product__info-price-old {
  float: left;
  margin-right: 25px;
}

.product__info-price-cheaper {
  color: #ce2c52;
}

.product__info-rating {
  display: inline-block;
  width: 100%;
  margin-top: 25px;
}

.product__info-share {
  color: #2c87ce;
  font-size: 18px;
  cursor: pointer;
  float: left;
  font-weight: 700;
  line-height: 16px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
  margin-left: 16px;
}

.product__info-details {
  background: #fff;
  border: 1px solid #adadad;
  display: block;
  position: fixed;
  margin-top: 25px;
  margin-left: 4px;
  width: 287px;
  height: 115px;
  -moz-box-shadow: 0 0 5px #222;
  /* Firefox */
  -webkit-box-shadow: 0 0 5px #222;
  /* Webkit */
  box-shadow: 0 0 5px #222;
  /* Standard */
}

.product__info-details-title {
  font-size: 12px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 300;
  line-height: 16px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
  width: 370px;
  margin-top: 30px;
}

.size > li {
  background: #fff;
  border-radius: 50px;
  width: 38px;
  height: 38px;
  border: 1px solid #565656;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
}

.size > li:hover {
  background: #2c303d;
  color: #f6f6f6;
}
