@mixin clear {
  margin: 0;
  padding: 0;
}

@mixin clear-list {
  @include clear;
  list-style: none;
}

@mixin circle-shadow ($radius, $shadowColor, $color) {

  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;

  &:hover {
    -webkit-box-shadow: $shadowColor;
    -moz-box-shadow: $shadowColor;
    box-shadow: $shadowColor;
  }


  background: $color;
}